:root {
	/* color */
	--color-black: #3f454d;
	--color-white: #ffffff;
	--color-blue: #3b88c3;
	--color-yellow: #fbbe28;
	--color-pink: #fd7f84;
	--color-light-grey: #dfdfdf;

	/* size */
	--base-space: 10px;
	--size-button: 60px;
	--size-thumbnail: 50px;
	--font-size: 18px;
	--size-border: 5px;

	/* animation */
	--animation-duration: 0.3s;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: var(--color-black);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

/* Logo */

#logo {
	text-align: center;
	cursor: pointer;
	transition: all var(--animation-duration) ease;
}

#logo:hover {
	transform: scale(1.1);
}

/* Btns */

#btns {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: var(--base-space);
}

.btn {
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	transition: all var(--animation-duration) ease;
}

.imgBtn {
	margin: var(--base-space);
	width: var(--size-button);
	height: var(--size-button);
}

.btn:hover {
	transform: scale(1.1);
}

.colorBtn {
	font-size: var(--font-size);
	padding: calc(var(--base-space) * 1.5) calc(var(--base-space) * 3);
	color: var(--color-white);
	margin: calc(var(--base-space) / 2);
	border-radius: var(--size-border);
}

.blue {
	background: var(--color-blue);
}

.yellow {
	background: var(--color-yellow);
}

.pink {
	background: var(--color-pink);
}

/* items */

#items {
	padding: 20px;
	padding-left: var(--base-space);
	overflow-y: scroll;
	width: 60%;
	height: 60%;
}

.item {
	background: var(--color-white);
	margin: var(--base-space) 0;
	padding: var(--base-space);
	display: flex;
	align-items: center;
}

.item__thumbnail {
	width: var(--size-thumbnail);
	height: var(--size-thumbnail);
	margin: 0 var(--base-space);
}

.item__description {
	font-size: var(--font-size);
	font-weight: bold;
}
